.product-recommendations {
  display: block;
  --gap: 1.6rem;
}
@media screen and (min-width: 1100px) {
  .product-recommendations {
    --gap: 3.2rem;
  }
}
.product-recommendations__list:not(.swiper-wrapper) {
  display: grid;
  align-self: flex-start;
  gap: var(--gap);
  grid-template-columns: repeat(var(--mobile-per-row), 1fr);
  margin: 2.4rem 0 0;
  padding: 0;
}
@media screen and (min-width: 750px) {
  .product-recommendations__list:not(.swiper-wrapper) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .product-recommendations__list:not(.swiper-wrapper) {
    grid-template-columns: repeat(var(--per-row), 1fr);
  }
}
@media screen and (max-width: 750px) {
  .product-recommendations__list.swiper-wrapper.product-recommendations__list-row li:not(:last-child) .card__inner {
    position: relative;
  }
  .product-recommendations__list.swiper-wrapper.product-recommendations__list-row li:not(:last-child) .card__inner::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
  .product-recommendations__list.swiper-wrapper.product-recommendations__list-row .card__link {
    min-height: unset;
  }
}
@media screen and (min-width: 750px) and (max-width: 1100px) {
  .product-recommendations__list.swiper-wrapper li:not(:last-child) .card__inner {
    position: relative;
  }
  .product-recommendations__list.swiper-wrapper li:not(:last-child) .card__inner::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}
@media screen and (min-width: 1100px) {
  .product-recommendations__list.swiper-wrapper li:not(:last-child) .card__inner {
    position: relative;
  }
  .product-recommendations__list.swiper-wrapper li:not(:last-child) .card__inner::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}
.product-recommendations .js-recommendation-slider:not(.swiper-initialized) .product-recommendations__list .collection-product-card {
  margin-right: 32px;
}
@media screen and (min-width: 576px) {
  .product-recommendations .js-recommendation-slider:not(.swiper-initialized) .product-recommendations__list .collection-product-card {
    width: calc(50% - 32px);
  }
}
@media screen and (min-width: 990px) {
  .product-recommendations .js-recommendation-slider:not(.swiper-initialized) .product-recommendations__list .collection-product-card {
    width: calc(33.3333333333% - 32px);
  }
}
@media screen and (min-width: 1100px) {
  .product-recommendations .js-recommendation-slider:not(.swiper-initialized) .product-recommendations__list .collection-product-card {
    width: calc(25% - 32px);
  }
}
@media screen and (min-width: 1360px) {
  .product-recommendations .js-recommendation-slider:not(.swiper-initialized) .product-recommendations__list .collection-product-card {
    width: calc(16.6666666667% - 32px);
  }
}
.product-recommendations .swiper-button-group {
  display: flex;
  margin-left: unset;
}
.product-recommendations .swiper-button-group .swiper-button-prev,
.product-recommendations .swiper-button-group .swiper-button-next {
  width: 3.5rem;
}
.product-recommendations .swiper-button-group.button-group-right-gap {
  margin-right: unset;
}
@media screen and (min-width: 990px) {
  .product-recommendations .swiper-button-group {
    margin-left: auto;
  }
  .product-recommendations .swiper-button-group .swiper-button-prev,
  .product-recommendations .swiper-button-group .swiper-button-next {
    width: 4.4rem;
  }
  .product-recommendations .swiper-button-group.button-group-right-gap {
    margin-right: 1rem;
  }
}

@media screen and (prefers-color-scheme: dark) and (max-width: 990px) {
  [data-scheme=auto] .swiper-button-absolute {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 990px) {
  [data-scheme=dark] .swiper-button-absolute {
    background-color: rgba(0, 0, 0, 0.3);
  }
}